# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.wpe-devkit/
/.wpengine-conf/
/_wpeprivate/
/repo2/.idea/
/site-files/
/wp-admin/
/wp-includes/
/.htaccess
/.wpe-pull-ignore
/.wpe-push-ignore
/ad.txt
/ads.txt
/apple-touch-icon-precomposed.png
/xmlrpc.php
/index.php
/license.txt
/robots.txt
/readme.html
/wp-activate.php
/wp-comments-post.php
/wp-config.php
/wp-blog-header.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/favicon.ico
/articles-guides.php
/apple-touch-icon.png
/.htpasswd
/wp-content/uploads/
/uploads/
