body {
  color: #453f43;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Roboto", "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-display: swap;
}
body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}
h2 {
  font-size: 20px;
  font-weight: 300;
}
.hide {
  visibility: hidden;
  display: none;
}
.hide--sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container,
.site-wrap {
  position: relative;
}
article,
footer,
header,
main,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
  color: #8aa479;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  text-transform: none;
  overflow: visible;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul {
  margin: 0 0 10px;
  padding-left: 1.25em;
}
h3 {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}
.col-4,
.col-8 {
  font-size: 14px;
  line-height: 1.7;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
.container--xl {
  padding-left: 16px;
  padding-right: 16px;
}
main.site-main {
  min-height: 250px;
}
.site-main .banner {
  min-height: 703px;
}
header.site-header {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
}
.site-wrap {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
input[type="search"] {
  border: 1px solid #efefef;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.site-header {
  z-index: 104;
  position: relative;
}
.site-header .container {
  min-height: 66px;
  position: relative;
}
.site-header__logo {
  display: inline-block;
  vertical-align: middle;
  z-index: 9;
  position: relative;
}
.site-header__logo img {
  display: block;
  margin-bottom: -10px;
  image-rendering: -webkit-optimize-contrast;
}
.site-header__toggle {
  border: 0;
  background: 0 0;
  display: none;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 20px;
  width: 26px;
  height: 18px;
  z-index: 1001;
}
.site-header__toggle span,
.site-header__toggle span:after,
.site-header__toggle span:before {
  background: #453f43;
  -webkit-transition: 0.3s ease;
  background: #453f43;
  width: 26px;
  height: 2px;
  display: block;
}
.site-header__toggle span:after,
.site-header__toggle span:before {
  content: "";
  position: absolute;
  left: 0;
}
.site-header__toggle span:before {
  top: 6px;
}
.site-header__toggle span:after {
  top: -6px;
}
.nav__main {
  -ms-flex-direction: row;
  position: relative;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  padding:0px;
  margin: 0 auto;
  margin-left: 20px;
}
.nav__main li {
  margin: 0;
}
.nav__main li:not(:first-child) {
  margin-left: 5vw;
}

.nav__shop {
  border-top: 1px solid #efefef;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
}
.nav__shop .icon {
  width: 30px;
  image-rendering: -webkit-optimize-contrast;
}
.nav__main,
.pagination,
.site-footer__menu {
  -ms-flex-direction: row;
}
.js .nav {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 0;
}
.nav .nav__shop {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  visibility: visible;
}
.nav__main a {
  color: #8aa479;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.1875rem 1.25rem;
}
.nav__main a:hover {
  color: #405440;
}
.js .nav__main a {
  line-height: normal;
}
.nav__shop {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
}
.nav .nav__shop {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  visibility: visible;
}
.nav__shop li {
  display: inline-block;
  margin: 0;
}
.nav__shop li:not(:last-child) {
  margin-right: 10px;
}
.nav__shop a {
  color: #8ba479;
  font-size: 11px;
}
.nav__shop a span,
.nav__shop a svg {
  display: inline-block;
  vertical-align: middle;
  fill: none;
  stroke: #8aa479;
}
.nav__shop li {
  display: inline-block;
  margin: 0;
}
.nav__shop li:not(:last-child) {
  margin-right: 10px;
}
.nav__shop a {
  color: #8ba479;
  font-size: 11px;
}
.nav__shop a span,
.nav__shop a svg {
  display: inline-block;
  vertical-align: middle;
  fill: none;
  stroke: #8aa479;
}
.js .nav__main li:last-child {
  display: inline;
}
.search__container {
  display: none;
}
.search {
  margin-top: 10px;
  position: relative;
  text-align: center;
}
.search label {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  vertical-align: middle;
}
.search input[type="search"] {
  font-size: 12px;
  margin-bottom: 5px;
  padding-right: 33px;
  text-align: left;
}
.search__btn,
.search__close {
  border: 0;
  padding: 0;
  top: 0;
  position: absolute;
  font-size: 0;
  background: 0 0;
  -webkit-appearance: none;
}
.search__btn {
  border-radius: 0;
  right: 0;
  width: 27px;
  height: 37px;
}
.search__close {
  border-radius: 0;
  display: none;
  right: 0;
  width: 27px;
  height: 37px;
}
.search__toggle svg {
  position: relative;
}
.banner:after {
  content: "";
  width: 100%;
  display: block;
  height: 90px;
  position: absolute;
  bottom: -15px;
  z-index: 9;
}
.banner__title_line {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.banner__title_line img {
  display: inline-block !important;
  width: 30% !important;
}
.banner__description {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: none;
  margin: 10px 0 0;
}
.banner__content {
  padding: 0 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 800px;
}
.banner__date {
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
}
.banner__categories a,
.banner__type,
.btn {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.banner__date span,
.banner__date svg {
  display: inline-block;
  vertical-align: middle;
}
.banner__date svg {
  fill: #fff;
  margin-right: 6px;
}
.banner__meta {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: space-between;
  -webkit-box-pack: space-between;
  justify-content: space-between;
  -ms-flex-align: space-between;
  -webkit-box-align: space-between;
  align-items: center;
  padding: 0 10px;
  top: 10px;
  left: 0;
}
.banner__type {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 8px;
  margin-right: 8px;
  padding: 2px 5px;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
}
.banner__categories path,
.banner__categories svg {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: currentColor;
}
.banner__type:hover {
  background: #fff;
  color: #453f43;
}
.banner__categories {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.banner__categories li {
  margin-bottom: 0;
  white-space: nowrap;
}
.banner__categories a {
  color: #fff;
  display: block;
  font-size: 8px;
}
.banner__title {
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.banner__title_line {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.banner__title_line img {
  display: inline-block !important;
  width: 30% !important;
}
.banner__categories img,
.banner__categories span,
.banner__categories svg {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
}
.banner__categories a:hover {
  color: #fff;
}
.banner__categories svg {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin-right: 6px;
}
.banner__cta {
  font-size: 12px;
  line-height: 1.5;
  background: url(img/guide-banner-texture.jpg) center center repeat-x;
  background-size: auto 100%;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
.banner__arrow {
  display: none;
  margin: 20px auto 0;
  position: relative;
}
.banner--post .post-link,
.banner__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.banner__video {
  left: 0;
  z-index: 1;
}
.banner__video > div {
  width: 100%;
  height: 100%;
}
.banner .tags {
  display: none;
  margin-left: auto;
}
.banner--post .post-link {
  background: 0 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
}
.banner--post .post-link__content {
  padding-left: 40px;
  padding-right: 40px;
}
.home .posts_carousel {
  min-height: 492px;
}
.posts_carousel .selector__categories li a svg,
.post-link__meta .selector__categories li a svg {
  fill: #fff;
  width: 25px;
  height: 25px;
}
.post-link {
  position: relative;
  background: #453f43;
}
.post-link__content,
.post-link__meta {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.post-link__content {
  -webkit-backface-visibility: hidden;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 800px;
}
.post-link__title {
  font-weight: 400;
  font-family: "ClarendonTextPro";
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  margin: 0;
}
.post-link__meta {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 10px;
  top: 10px;
  left: 0;
}
.post-link__type {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  margin-right: 8px;
  padding: 2px 5px;
}
.post-link__hover {
  background-size: cover;
  display: block;
  position: relative;
  width: 100%;
  height: 180px;
}
.post-link__hover:before {
  background: #453f43;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.post-link__hover--lg {
  height: 220px;
}
.post-link .tags {
  display: none;
  margin-left: auto;
}
.selector__categories {
  font-size: 0;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.selector__categories li {
  font-size: 10px;
  line-height: 1.4;
  display: inline-block;
  margin-bottom: 10px;
}
.selector__categories li:not(:last-child) {
  margin-right: 8px;
}
.selector__categories input[type="radio"] {
  display: none;
}
.selector__categories label {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.selector__categories img,
.selector__categories span {
  display: inline-block;
  vertical-align: middle;
}
.selector__categories img {
  margin-right: 6px;
}
.tags:before {
  display: inline-block;
  color: #fff;
  content: "#";
  font-size: 9px;
}
.tags--toggle {
  display: none;
}

@media screen and (min-width: 460px) {
  .site-main .banner {
    min-height: 769px;
  }
  .post-link .tags {
    display: block;
  }
  .nav__main {
    max-width: 380px;
  }
  .nav__main li:not(:first-child) {
    margin-left: 25px;
  }
  .post-link__hover {
    height: 200px;
  }
  .post-link__hover--lg {
    height: 260px;
  }
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 16px;
  }
  .post-link__title {
    font-size: 15px;
  }
  .post-link__hover {
    height: 220px;
  }
  .post-link__hover--lg {
    height: 300px;
  }
  .search label {
    margin-right: 0;
  }
  .search input[type="search"] {
    padding-right: 224px;
  }
}
@media screen and (min-width: 783px) {
  .col-4,
  .col-8,
  body {
    font-size: 15px;
  }
  h3 {
    font-size: 17px;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .nav__main {
    max-width: none;
  }
  .js .nav__main li {
    display: inline-block;
    vertical-align: middle;
}
.js .nav__main {
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  visibility: visible;
}
  .post-link__title {
    font-size: 20px;
  }
  .post-link__meta {
    padding: 0 15px;
    top: 15px;
  }
  .post-link__type {
    font-size: 12px;
    margin-right: 16px;
  }
  .post-link__hover {
    height: 240px;
  }
  .post-link__hover--lg {
    height: 340px;
  }
  .selector__categories {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
  .selector__categories li {
    font-size: 11px;
    margin-bottom: 0;
  }
  .selector__categories li:not(:last-child) {
    margin-right: 20px;
  }
  .tags:before {
    font-size: 10px;
  }
}
@media screen and (min-width: 1024px) {
  h3,
  ul {
    margin-bottom: 20px;
  }
  .col-4,
  .col-8 {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .post-link__content {
    padding: 0 40px;
  }
  .post-link__hover {
    height: 260px;
  }
  .post-link__hover--lg {
    height: 360px;
  }
  .tags:before {
    font-size: 11px;
  }
  .tags:before {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .col-4,
  .col-8,
  body {
    font-size: 16px;
  }
  h3 {
    font-size: 19px;
  }
  .site-header {
    background-size: 100% auto;
  }
  .selector__categories {
    margin-right: 20px;
  }
  .post-link__content {
    padding: 0 60px;
  }
  .post-link__title {
    font-size: 20px;
  }
  .post-link__hover {
    height: 300px;
  }
  .post-link__hover--lg {
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .post-link__title {
    font-size: 22px;
  }
  .post-link__type {
    font-size: 12px;
  }
}
.post-link__type {
  padding: 5px 10px;
  border: 1px solid #fff;
}
.learn__container {
  display: none;
  background: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0;
}
.learn__container .container:first-child {
  height: auto;
}
.post-link__hover:before {
  opacity: 0.5;
  background-color: #000;
}
.selector__categories li a {
  color: inherit;
}
.posts_carousel .post-link__hover {
  height: calc(100vh - 120px);
  background-size: cover;
  background-position: center;
}
.posts_carousel .post-link__meta {
  top: 30px;
}
#post_slider:after {
  content: "";
  width: 100%;
  display: block;
  height: 90px;
  background-image: url(img/paper-edge-min.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  bottom: -1px;
  z-index: 9;
}
.posts_carousel .post-link__type {
  font-size: 10px;
}
.posts_carousel .selector__categories li {
  font-size: 14px;
}
.posts_carousel .selector__categories li a,
.post-link__meta .selector__categories li a {
  color: #fff;
}
.posts_carousel .post-link__content a {
  padding: 10px 25px;
  border: 1px solid #fff;
  margin: 15px 0px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.posts_carousel .post-link__content {
  padding: 0px 15px;
  max-width: 1000px;
}
.posts_carousel .post-link__title {
  font-family: "ClarendonTextPro";
  text-transform: none;
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 400;
}
.posts_carousel .post-link__meta {
  padding: 0 15px;
}

.learn__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}
.learn__container {
  border-top: 1px solid #e4e4e4;
  box-shadow: inset 0 10px 25px -15px rgba(0, 0, 0, 0.2);
}
.learn__container h3,
.learn__container .selector__categories li h3 a {
  font-family: "ClarendonTextPro";
  font-weight: 400;
  font-size: 22px;
  color: #9a988b;
}
.learn__container .col-4 {
  width: 40%;
  float: left;
  padding: 0;
  margin: 0;
}
.learn__container .col-8 {
  width: 60%;
  float: left;
  padding: 0 0 0 5%;
  margin: 0;
}
.learn__container .col-8 h3 {
  margin: 0 0 17px;
}
.learn__container .selector__categories {
  margin-right: 0px !important;
  display: block !important;
  width: 40%;
  float: left;
  position: relative;
}
.learn__container .selector__categories:first-child {
  width: 60%;
}
.learn__container .selector__categories:after {
  content: "";
  width: 15px;
  height: 100%;
  background-image: url(img/mega-nav-devider.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.learn__container .selector__categories:not(:first-child) {
  padding-left: 10%;
}
.learn__container .selector__categories li {
  margin: 0 0px 10px !important;
  display: block;
}
.learn__container .selector__categories li a {
  color: #8aa479;
  font-size: 15px;
  font-family: "Roboto Condensed";
}
.learn__container .selector__categories img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  fill: #7c7b75;
}
.learn__container .trade-post {
  width: 48%;
  text-align: center;
  margin: 0px 5px;
  float: left;
  position: relative;
  background-size: cover;
  height: 215px;
  vertical-align: middle;
  display: table;
  font-size: 20px;
}
.learn__container .trade-post a {
  color: #fff;
  font-family: "ClarendonTextPro";
  position: relative;
  z-index: 9;
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}
.learn__container .trade-post a span {
  display: block;
  padding: 0px 10px;
}
.learn__container .trade-post .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.post-category-box .selector__categories span {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 150px;
  text-align: center;
  transform: translateX(-50%);
}
.tags::before {
  display: none;
}
.post-link__type {
  display: none;
}
#post_slider .post-link__type {
  display: block;
}
.post-link__meta .selector__categories img {
  width: 25px;
  height: 25px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 1280px) {
  .container {
    padding: 0px 35px !important;
  }
  .nav .nav__shop {
    right: 35px;
  }
  .post-link__meta {
    padding: 0 35px;
  }
}
@media screen and (max-width: 1279px) {
  .learn__container {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
  .posts_carousel .post-link__title {
    font-size: 3em;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    margin-bottom: 0px;
  }
}
.mobile_menu {
  position: relative;
  width:  100%;
  display: none;
  z-index: 103;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.22);
}
.mobile_menu:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #8ba479;
  opacity: 0.12;
  position: absolute;
}
.mobile_menu ul li,
.mobile_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile_menu ul {
  text-align: center;
  position: relative;
  z-index: 2;
}
.mobile_menu ul li {
  display: inline-block;
}
.mobile_menu ul li a {
  color: #8aa479;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: 700;
  letter-spacing: 1px;
  padding: 16px 20px;
  display: block;
}
.learn__container {
  top: calc(100% + 162px);
  top: calc(100% + 63px);
}
@media screen and (max-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media screen and (max-width: 1130px) {
  .learn__container .col-4 {
    width: 472px;
  }
  .learn__container .col-8 {
    width: calc(100% - 505px);
    padding-left: 30px;
  }
  .learn__container .trade-post {
    margin: 0 1%;
  }
}
@media screen and (max-width: 940px) {
  .learn__container .trade-post {
    width: 98%;
    float: none;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 782px) {
  .site-header .nav {
    position: absolute;
    right: 70px;
    top: 18px;
  }
  .site-header .nav .nav__main {
    display: none;
  }
  .site-header .nav .nav__shop {
    width: 120px;
    right: 0;
    position: relative;
    transform: none;
    top: 0;
  }
  .site-header__toggle {
    top: 22px;
  }
  .learn__container .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .learn__container .col-4 {
    width: calc(100% - 205px);
    float: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .learn__container .col-4 .selector__categories {
    width: auto;
    float: none;
    padding: 0 !important;
    margin: 0 30px 0 0 !important;
  }
  .learn__container .col-4 .selector__categories:last-child {
    margin-right: 0 !important;
  }
  .learn__container .col-4 .selector__categories:after {
    display: none;
  }
  .learn__container .col-8 {
    width: 185px;
    float: none;
    padding: 0;
  }
  .learn__container .trade-post {
    height: 130px;
    float: none;
    width: 100%;
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .learn__container .col-4 {
    width: 100%;
  }
  .learn__container .col-8 {
    width: 100%;
  }
  .learn__container .col-8:after {
    content: "";
    display: table;
    clear: both;
  }
  .learn__container .trade-post {
    float: left;
    width: calc(50% - 15px);
  }
  .learn__container .trade-post:last-of-type {
    float: right;
  }
}
@media screen and (max-width: 550px) {
  .site-header__logo {
    width: 258px;
    margin: 0 auto 20px !important;
    float: none;
    display: block;
  }
  .site-header .nav {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 0 0 10px;
  }
}
@media screen and (max-width: 470px) {
  .learn__container .col-4 {
    width: 100%;
    margin: 0 0 20px;
    display: block;
  }
  .learn__container .col-4 .selector__categories:last-of-type,
  .learn__container .col-4 .selector__categories {
    margin: 0 0 30px !important;
  }
  .learn__container .col-8 {
    width: 100%;
  }
  .learn__container .col-8:after {
    content: "";
    display: table;
    clear: both;
  }
  .learn__container .trade-post {
    width: 100%;
    margin: 0 0 15px;
    float: none;
  }
  .learn__container .trade-post:last-of-type {
    float: none;
  }
}
@media screen and (min-width: 550px) {
  .learn__container {
    top: calc(100% + 63px);
  }
  .mobile_menu ul {
    text-align: right;
  }
}
@media screen and (min-width: 782px) {
  .mobile_menu {
    display: none;
  }
  .learn__container {
    top: 100%;
  }
}
@media screen and (min-width: 600px) {
  min-height: 320px;
}
@media screen and (min-width: 783px) {
  min-height: 380px;
}